
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  font-family: 'Mitr';
  background-color :#fcdada;
}

.header {
  overflow: hidden;
  background-color :#5c969e;
  
  
}

.header p {
float: left;
color:  #ffffff;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 33px;
line-height: 15px;
border-radius: 4px;
}

.header img {
  width: 40px; 
  height: 40px;
}


 /*----------------------------------ส่วน LogIn ------------------------------------------------ */

.form-control{
  width: 350px; 
  height: 50px;
}

.btn-btn-primary{
  background-color :#5c969e;
  border-radius: 3px;
  
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  color:  #ffffff;
  
  font-family: 'Mitr';
}

.btn-btn-primary:hover{
  background-color: #69acd5;
  color:#fcdada;
}

 /*----------------------------------ส่วน ข้อมูล ------------------------------------------------ */
 input[type="text"],
 select{
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid#ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }

 input[type="submit"]{
   width:  100px;
 }